@model IdentityUser
<form asp-controller="Account" asp-action="Logout" method="post" class="navbar-right">
    <ul class="nav navbar-nav navbar-right">
        <li class="px-1 pt-lg-3">
            <a class="text-center btn btn-primary"
               asp-controller="Notice"
               asp-action="AddItem"
               asp-route-returnurl="@ViewContext.HttpContext.Request.PathAndQuery()">
                Add notice
            </a>
        </li>

        <li class="px-1 pt-lg-3">
            <a class="text-center btn btn-primary"
               asp-controller="RoleAdmin"
               asp-action="Edit">
                Edit users role
            </a>
        </li>

        <li class="px-1 pt-lg-3">
            <a class="text-center btn btn-primary"
               asp-controller="Account"
               asp-action="Index">
                Users
            </a>
        </li>

        <li>
            <div class="pt-2 px-2">Hello, @Model.UserName!</div>
            <button type="submit" class="btn btn-btn-link">
                Log out <i class="fa fa-sign-out" style="font-size:20px;color:black"></i>
            </button>
        </li>
    </ul>
</form>