@model NavigationMenuViewComponentViewModel
<nav class="nav bg-white rounded p-3 ">
    <a class="nav-link px-4 list-group-flush"
       asp-action="List"
       asp-controller="Declaration"
       asp-route-category=""
       asp-route-pageNum=""
       asp-route-sortOrder="">
        <span>Home</span>
    </a>

    @foreach (var brand in Model.Categories)
    {
        <a class="nav-link px-4  @(Model.CurrentCategory!=brand.Key?"list-group-flush" :"list-group-item-primary")"
           asp-action="List"
           asp-controller="Declaration"
           asp-route-category=@brand.Key
           asp-route-pageNum="1"
           asp-route-sortOrder="">
            @brand.Key
         <span class="badge badge-primary px-2 rounded-pill ml-2">@brand.Value</span>
        </a>    
     }
</nav>
